@import 'tailwindcss';

body,
html {
  background: var(--color-neutral-100);
  /* disable baked-in styling for certain ui elements */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@theme inline {
  --base-unit: 16;
  /* ratio based on A4 letter size; 8.27" x 11.69" */
  --invoice-ratio: calc(1169 / 827);
  --spacing: calc(1rem / var(--base-unit));
  --font-serif: var(--font-newsreader);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
  --invoice-max-width: 595;
  --invoice-default-height: calc(
    var(--invoice-max-width) * var(--invoice-ratio)
  );
  --invoice-width: min(
    calc(var(--invoice-max-width) * 1px),
    calc(100vw - 3rem)
  );
  --invoice-min-height: calc(
    (var(--invoice-default-height) / var(--invoice-max-width)) *
      var(--invoice-width)
  );
  --container-invoice: var(--invoice-width);
  --invoice-unit: calc(var(--invoice-width) / var(--invoice-max-width));
}

@utility text-* {
  font-size: calc(--value(integer) / var(--base-unit) * 1rem);
}

@utility leading-* {
  line-height: calc(--value(integer) / var(--base-unit) * 1rem);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
