@import 'tailwindcss';

body,
html {
  background: var(--color-neutral-100);
  /* disable baked-in styling for certain ui elements */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@theme inline {
  --base-unit: 16;
  --spacing: calc(1rem / var(--base-unit));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility text-* {
  font-size: calc(--value(integer) / var(--base-unit) * 1rem);
}

@utility leading-* {
  line-height: calc(--value(integer) / var(--base-unit) * 1rem);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
